{% extends "overlay_small.html" %}
{% load static %}
{% load humanize %}

{% block single_recipe %}


    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ recipe.image.url }}" alt="Recipe image">
        <div class="card-body">

            <h2 class="card-title">{{ recipe.title }}</h2>
            <p class="card-text">Email: {{ recipe.details }}</p>
            <p class="card-text">
                <small class="text-muted">
                    Recipe by: {{ recipe.owner }}
                </small>
            </p>
        </div>
    </div>


{% endblock %}